@import "../highlight/styles/default.min.css";

:root {
  --navbar-background-color: #8181F5;
  --footer-background-color: #8181F5;
  --index-link-color: #5121F5;
  --topic-border-color: #8181F5;
  --note-background-color: lavender;
  --code-background-color: #f2f3f3;
  --sidebar-background-color: rgb(192, 192, 247, 0.9);
  --sidebar-title-background-color: #8181F5;
  --table-cell-border: rgb(192, 192, 200);
  --link-color: #5121F5;
  --link-visited-color: #5121F5;
}

body {
  /* margin: 0 auto; */
}

/* header and footer */
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--navbar-background-color);
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
  font-size: xx-large; /* 32px */
  padding: 10px;
}

.footer {
  background-color: var(--footer-background-color);
  overflow: hidden;
  margin-top: 10px;
  font-size: x-large; /* 24px */
  padding: 10px;
}

.prev, .next, .center {display:inline}
.prev {float: left}
.next {float: right}
.center {float: none;}

/* index body div */
.index-content {
  overflow: hidden;
  height: calc(100% - 126px);
  width: 100%;
  overflow-y: auto;
}

/* body div */
.main-content {
  overflow: hidden;
  height: calc(100% - 126px);
}
.content { /* content */
  float: left;
  margin: 0 .5%;
  width: 85%;
  overflow-y: auto;
  height: 100%;
}
.sidebar-right { /* right sidebar */
  float: right;
  margin: 0 .5%;
  width: 12%;
  overflow-y: auto;
  height: 100%;
}
.menu-header {
  font-size: 20px;
}
.menu-content li {
  font-size: 18px;
  padding: 8px;
}

/* page-wise */
ul {
  margin: 0px;
}

p {
  margin-bottom: 0px;
}

h2 {
  border-bottom: 5px solid black;
}

h3 {
  text-decoration: underline;
}

img {
  margin: 10px;
}

table {
  width: 100%;
}
thead {
  font-weight: bold;
}

td, th {
  border: 2px solid var(--table-cell-border);
  text-align: center;
  padding: 1px;
}

pre {
  overflow:auto
}

a {
  color: var(--link-color);
}

a :visited {
  color: var(--link-visited-color);
}

.icon {
  /* float: right; */
}

/* special classes */
.notes {
  border-radius: 10px;
  padding: 5px;
  background-color: var(--note-background-color);
  margin: 2px;
}

.topic {
  border: 5px solid var(--topic-border-color);
  border-radius: 15px;
  padding: 5px;
  /* checkMe: this was supposed to stop the div from going beneath the navbar; but isn't working */
  scroll-margin-top: 100px;
}

.point {
  font-weight: bold;
}

.code {
  background-color: var(--code-background-color);
  font-family: American Typewriter;
}

.show_toc {
  position: fixed;
  top: 50px;
  right: 50px;
  display: inline-flex;
  visibility: visible;
  opacity: 1;
}

